@import 'style';

.jumbotron-fluid {
    background-color: transparent;
    height: 100vh;
    position: relative;
    align-items: center;
    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        ellipse {
            fill: $lightTextColor;
        }
    }
    h1 {
        color: $secondaryColor;
    }
    p {
        color: $darkerColor;
        a.btn {
            @extend %mainColorBtn;
        }
    }
}
section.how-to {
    img {
        height: 100%;
    }
    h2 {
        color: $darkestColor;
        margin-bottom: $tweentypx;
    }
    ul {
        color: $darkerColor;
        li {
            padding-left: $tenpx;
            margin-bottom: 10px;
            i {
                padding: 7px;
                background-color: $secondaryColor;
                color: #fff;
                border-radius: 50%;
                margin-right: $fifttenpx;
            }
        }
    }
    a {
        @extend %mainColorBtn;
    }
}
section.features {
    background-color: $lightTextColor;
    h2 {
        color: $darkestColor;
        margin-bottom: $fifttenpx;
    }
    ul {
        color: $darkerColor;
        li {
            padding-left: $tenpx;
            margin-bottom: 10px;
            i {
                background-color: $secondaryColor;
                color: #fff;
                border-radius: 50%;
                margin-right: $fifttenpx;
                text-align: center;
                display: inline-block;
                font-size: 22px;
                line-height: 30px;
                width: 40px;
                height: 40px;
                padding: 5px;
            }
        }
    }
}
section.success {
    h2,h5 {
        color: $darkestColor;
    }
    p {
        color: $darkerColor;
    }
    a.btn {
        @extend %mainColorBtn;
    }
}