@import 'style';

section.how-to {
    @extend %sectionPadding-y;
    img {
        height: 100%;
    }
    h2 {
        color: $darkestColor;
        margin-bottom: $tweentypx;
    }
    .steps {
        h5 {
            color: $darkerColor;
        }
        .icon {
            color: $darkerColor;
            margin-bottom: $tweentypx;
            i {
                padding: 7px;
                background-color: $secondaryColor;
                color: #fff;
                border-radius: 50%;
                margin-right: $fifttenpx;
                text-align: center;
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 36px;
                font-size: 24px;
            }
        }
    }
    a {
        @extend %mainColorBtn;
    }
}
