$navbarBg: #0984e3;
$mainColor: #dfe6e9;
$headingColor: #b2bec3;
$hoverColor: #b2bec3;
$facebookColor: #3c5a99;
$twitterColor: #1da1f2;
$youtubeColor: #FF0000;
$instagramColor: #405de6;
$fivepx: 5px;
$tenpx: 10px;
$fifttenpx: 15px;
$tweentypx: 20px;
$sectionPadding-y: 70px;
$mainFont: 'Poppins', sans-serif;
%sectionPadding-y {
    padding-top: $sectionPadding-y;
    padding-bottom: $sectionPadding-y;
}
body {
    font-family: $mainFont;
    color: $mainColor;
}
h1,h2,h3,h4,h5,h6 {
    color: $headingColor;
}
a {
    color: $mainColor;
}
a:hover {
    text-decoration: none;
    color: $hoverColor;
}


nav.navbar {
    background-color: $navbarBg;
}